body{
  /*font-family: 'Montserrat'!important;
  font-family: 'Montserrat', sans-serif!important;*/
  font-family: 'Montserrat', sans-serif!important;
  font-style: normal;
  font-weight: 400;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:  #fff!important;
  font-size: 12px;
}
::-moz-placeholder { /* Firefox 19+ */
  color:  #fff!important;
  font-size: 12px;
}
:-ms-input-placeholder { /* IE 10+ */
  color:  #fff!important;
  font-size: 12px;
}
:-moz-placeholder { /* Firefox 18- */
  color:  #fff!important;
  font-size: 12px;
}
.login-screen-content{
  background: url("../img/17.jpg");
  background-size: cover;
}
.form-div-login{
    padding: 35% 0 0 0%;
    width:100%;
} 
.login-screen-content i {
    /*background: rgba(229, 229, 229, 0.3) none repeat scroll 0 0;*/
    /*background: #E77E23 none repeat scroll 0 0;*/
    background: #27334A none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    width: 34px;
    text-align: center;
}
.login-screen-content .nobox{
    background: none;
    color: #fff;
    display: inline-block;
    font-size: 33px;
    line-height: 38px;
    position: inherit;
}
.login-screen-content .inputbox input {
    background: rgba(255, 255, 255, 0.32) none repeat scroll 0 0!important;
    text-align: center;
    border: 0;
    color: #fff!important;
    height: 34px;
}
.dashboard-bg{
  /*background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);*/
  /*background-color: #000;*/
  /*background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);*/
  background: url("../img/17.jpg");  
  
}
.no-bg{
	background: none!important;
}
.no-radius{
  border-radius: 0px;
}
.text-white{
  color: #fff;
}
.login-btn{
  /*background: #E77E23;*/
  /*background: #27334A; */
}
.border-right{
  border-right:1px solid #fff;  
}
.border-white{
  border:1px solid #fff;
}
.h-33{
  height: 33px!important;
  background: none!important;
}
.mb-15{
  margin-bottom: 15px;
}
.w-30{
  width: 30%;
}
/*.dashboard-box{
  text-align: justify;
  background-color: blanchedalmond;
  padding: 12%;
  color: #5ac8fa;
}*/
.dashboard-txt,.table-th,.icon-orange,.orange-txt{
  /*color: #E77E23!important;  */
  color: #596673!important;
}
.text-capitalize{
  text-transform: capitalize;
}
.nav-bg,.footer-bg{
  /*background:#E77E23;
  background:#596673;*/
  background:#27334A;
}
.link-white{
  color: #fff!important;
}
.dashboard-listtitle{
  /*min-width: 80%!important;
  padding: 2% 0 2% 2%!important;*/
  background-color: blanchedalmond;
}
.poweredby{
    padding: 0px 5px!important;
}
.form-txtbox{
  border: 1px solid #929eaa!important;
  margin: 10px 0 0 0!important;
}
.form-label{
  color:#929eaa!important; 
}
.mh-30{
  min-height:30px!important;
}
.p-1{
  padding: 1%!important;
}
.pr-0{
  padding-right: 0px!important;
}
.fab > a,.fab-buttons a{
  /*background-color:#018267;*/
  background-color: #71a92e;
}
.h-40{
  height:40px!important;
}
.pt-0{
  padding-top:0px!important;
}
.p-2{
  padding: 2%!important;
}
.pl-4{
  padding-left: 4%!important;
} 
.pb-3{
  padding-bottom: 3%!important;
}
.pb-0{
  padding-bottom: 0px!important;
}
.form-btn{
  /*background-color: #337ab7;
  border-color: #2e6da4;*/
  background-color: #27334a;
  border-color: #27334a;
}
.btn-goutline{
  border:2px solid #27334a!important;
  color: #515354!important
}
.text-center{
  text-align: center!important;
}
.light-orange{
  /*background-color: blanchedalmond;*/
  background-color: #d4d9dd; 
}
.elevation-demo{
  height: 100px;
  margin: 15px 10px;
  /*background: #fff;*/
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  /*line-height: 100px;*/
  vertical-align: middle;
}
.panel{
  height: 640px;
  overflow-x: scroll;
}
.lh-30{
  line-height: 20px!important;
}
.h-40p{
  height: 40px!important;
}
.float-left{
  float: left;
}
.m-20p{
  margin: 20%;
}
.m-5p{
  margin: 5%;
}
.mt-5{
  margin-top: 5px;
}
.mt-10{
  margin-top: 10px;
}
.box-mrgn{
  margin: 20% 0 20% 36%;
}
.out-mrgn{
  margin: 26% 18% 26% 18%;
}
.dash-badge{
  left: 18%;
    bottom: 14%;
}
.tr-border{
  /*border-bottom: 1px solid #f1f1f1;*/
  border-bottom: 1px solid #d4d9dd;
}

#myUL{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f1f1f1;
  padding: 0px 5px;
  text-decoration: none;        
  color: black;
  display: block;
  width: 76%; 
}
.list-accr{ 
  border: 1px solid #ddd;
  width: 75%;
  /*background: #ffefdb;*/
  background: #b2bed6;
  color: #27334A;
  font-weight: 600;
}
.sublist-accr{
  /*height: 200px;*/
  overflow: scroll;  
}
.font-18{
  font-size: 18px;
}
.font-16{
  font-size: 16px;
}
.font-14{
  font-size: 14px;
}
.font-12{
  font-size: 12px;
  /*font-size: 0.81rem;*/
}
.font-11{
  font-size: 11px;
}
.text-muted{
  color: #8e8e93;
}
.text-muted-light{
  color:#abb8c5;
}
.font-20{
  font-size: 20px;
}
.font-9{
  font-size: 9px;
}
.font-sm{
  font-size: 0.50rem!important;
}
.font-8{
  font-size: 8px;
}
.fw-600{
  font-weight: 600!important;
}
.fw-500{
  font-weight: 500!important;
}
.redtxt{
  color: red;
}
.wh-16{
  height: 16px;
  width: 16px;
}
.wh-80{
  height: 80px;
  width: 80px;
}
.wh-70{
  height: 70px;
  width: 70px;
}
.grey-txt{
  color:#596673;
}
.list .item-link .item-inner:before, .links-list a:before, .media-list .item-link .item-title-row:before, li.media-item .item-link .item-title-row:before, .media-list.chevron-center .item-link .item-inner:before, .media-list .chevron-center .item-link .item-inner:before, .media-list .item-link.chevron-center .item-inner:before, li.media-item.chevron-center .item-link .item-inner:before, li.media-item .chevron-center .item-link .item-inner:before, li.media-item .item-link.chevron-center .item-inner:before{
  content: none!important;
} 
.w-100{
  width: 100%!important;
}
.mr-10{
  margin-right: 10px;
}
.mr-5{ 
  margin-right: 5px;
}
.mr-25{ 
  margin-right: 25px;
}
.text-uppercase{
  text-transform: uppercase;
}
.txtover-init{
  text-overflow: initial!important;
}
.edit-icon{
  color:#2196f3;
}
.nobgclr{
  background-color: #fff;
}
.no-margin{
  margin:0px!important;
}
.text-grey{
  color:#707579;
}
.ml-0{
  margin-left: 0!important;
}
.display-none{
  display: none;
}
.display-block{
  display: block;
}
.light-grey{
  background-color: lightgrey;
}
.mdtest{
  width: 131%;
  font-size: 12px!important;
}
.ml-10{
  margin-left: 10%;
}
.ml-5{
  margin-left: 5%;
}
.ml-6{
  margin-left: 6%;
}
.ml-7{
  margin-left: 7%;
}
.ml-1{
  margin-left: 1%;
}
.font-10{
  font-size: 10px;
}
.text-lowercase{
  text-transform: lowercase;
}
#triangle-topleft-dev {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    display: block;
    border-left: 30px solid transparent;
    border-bottom: 30px solid transparent;
    /*border-top: 30px solid #f00;
    border-top: 30px solid #8e8e93;
   */
    /*border-top:30px solid #e77e23;*/
    border-top:30px solid #27334A;
}
.panelleft{
    background-color: #27334A!important;
    color: #fff!important;
}
.panel_menus{
  background: none!important;
}
#borderDiv{
    border-bottom: 1px solid #47525d!important;
    margin-top: 10px;
}
#triangle-topleft-comp {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    display: block;
    border-left: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-top:30px solid #929eaa;
}
.impfont{
    color: #ffffff!important;
    transform: rotate(45deg);
    font-size: 7px!important;
    position: absolute;
    top: -24px;
}
.r-3{
  right: 3px;
}
.r-1{
  right: 1px;
}
.tbl_overflow{
  overflow: initial!important;
}

.uploadDiv{
  height: 150px;
}
.picbox{
  /*background-color: #d6d6ff!important;
  background-color: rgba(143, 144, 144, 0.32)!important;
  padding: 5%!important;
  border: 1px dashed darkgray;
  height: 140px!important;
  margin: 0 auto;
  font-size: 12px;
  width: 100%;
  text-align: center;*/
  border: 1px dashed darkgray;
  height: 90px;
  margin: 0 auto;
  font-size: 12px;
  width: 30%!important;
  text-align: center;
}
.picbox-text{
  color: #848383!important;
}
.innerDiv{
  margin-top: 25%!important;
}
#select-demo{
  height: 500px;
  width: 100%;
  background-color: lightblue;
}
.w-auto{
  width: auto!important;
}
.text-blue{
  color:#2196f3;
}
.color-grey{
  color: #27334A;
}
.img-circle {
    border-radius: 50%;
}
/* ---------------------- ROTATE STAR -------------------- */
.gly-spin {
  -webkit-animation: spin 5s infinite linear;
  -moz-animation: spin 5s infinite linear;
  -o-animation: spin 5s infinite linear;
  animation: spin 5s infinite linear;
  color:#fff;
}
@-moz-keyframes spin {
0% {
    -moz-transform: rotate(0deg);
}
100% {
    -moz-transform: rotate(359deg);
}
}
@-webkit-keyframes spin {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(359deg);
}
}
@-o-keyframes spin {
0% {
    -o-transform: rotate(0deg);
}
100% {
    -o-transform: rotate(359deg); 
}
}
@keyframes spin {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
}
}